---
import Valores from '../../public/valores.json';
import { Icon } from 'astro-icon/components';

---

<section class="py-5 px-10 min-h-screen flex flex-col justify-center bg-gray-100">
  <div class="container mx-auto text-center">
    <!-- Título de la sección -->
    <h2 class="text-3xl md:text-5xl font-bold mb-8 text-gray-800">
      Nuestros Valores
    </h2>

    <!-- Grid de Valores -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {Valores.values.map((value, index) => (
        <div data-key={index} class="flex flex-col items-center p-6">
          <!-- Renderizar el ícono -->
          <div class="text-4xl text-indigo-500 mb-4">
            <Icon name={value.icon} /> 
          </div>
          <!-- Título del valor -->
          <h3 class="text-xl font-semibold text-gray-800 mb-2">
            {value.title}
          </h3>
          <!-- Descripción del valor -->
          <p class="text-gray-600">
            {value.description}
          </p>
        </div>
      ))}
    </div>
  </div>
</section>
