<div class="space-y-12 lg:space-y-24">
  <!-- Sección 1 -->
  <div class="flex flex-col items-center justify-center px-4 py-8 md:py-12 lg:py-16 lg:px-12">
    <!-- Imagen -->
    <div class="w-full mb-8">
      <img
        src="/images/cliente.jpg"
        alt="Gráfico de negocios"
        class="object-cover w-full rounded-lg shadow-xl"
      />
    </div>
    <!-- Texto -->
    <div class="text-center">
      <h1 class="text-2xl md:text-4xl lg:text-5xl font-bold text-gray-800 mb-4 md:mb-6 leading-tight">
        Incrementa Tu Base de Clientes
      </h1>
      <p class="text-base md:text-lg lg:text-xl text-gray-600">
        Aprovecha nuestras soluciones innovadoras para atraer más clientes a tu negocio.
      </p>
    </div>
  </div>

  <!-- Sección 2 - Imagen Reversa -->
  <div class="flex flex-col items-center justify-center px-4 py-8 md:py-12 lg:py-16 lg:px-12">
    <!-- Imagen -->
    <div class="w-full mb-8">
      <img
        src="/images/parnet.jpg"
        alt="Gráfico de negocios"
        class="object-cover w-full rounded-lg shadow-xl"
      />
    </div>
    <!-- Texto -->
    <div class="text-center">
      <h1 class="text-2xl md:text-4xl lg:text-5xl font-bold text-gray-800 mb-4 md:mb-6 leading-tight">
        Soluciones a Medida para Tu Empresa
      </h1>
      <p class="text-base md:text-lg lg:text-xl text-gray-600">
        Nuestro equipo se enfoca en brindar soluciones tecnológicas personalizadas que aceleran el crecimiento de tu empresa.
      </p>
    </div>
  </div>

  <!-- Sección 3 -->
  <div class="flex flex-col items-center justify-center px-4 py-8 md:py-12 lg:py-16 lg:px-12">
    <!-- Imagen -->
    <div class="w-full mb-8">
      <img
        src="/images/time.jpg"
        alt="Gráfico de negocios"
        class="object-cover w-full rounded-lg shadow-xl"
      />
    </div>
    <!-- Texto -->
    <div class="text-center">
      <h1 class="text-2xl md:text-4xl lg:text-5xl font-bold text-gray-800 mb-4 md:mb-6 leading-tight">
        Impulsa tu Crecimiento Empresarial
      </h1>
      <p class="text-base md:text-lg lg:text-xl text-gray-600">
        Aumenta la eficiencia operativa y mejora tus resultados con nuestras tecnologías avanzadas.
      </p>
    </div>
  </div>
</div>
