---
---


<div class="space-y-16 lg:space-y-24">
    <!-- Sección 1 -->
    <div class="flex flex-col items-center justify-center md:flex-row lg:gap-16 lg:p-12">
      <!-- Imagen -->
      <div class="md:w-1/2 lg:w-2/5 mb-8 md:mb-0">
        <img
          src="/images/cliente.jpg"
          alt="Gráfico de negocios"
          class="object-cover w-full rounded-lg shadow-xl aspect-square"
        />
      </div>
      <!-- Texto -->
      <div class="md:w-1/2 lg:w-3/5 text-center md:text-left">
        <h1 class="text-3xl md:text-5xl lg:text-6xl font-bold text-gray-800 mb-4 md:mb-6 leading-tight">
          Incrementa Tu Base de Clientes
        </h1>
        <p class="text-base md:text-lg lg:text-xl text-gray-600">
          Aprovecha nuestras soluciones innovadoras para atraer más clientes a tu negocio.
        </p>
      </div>
    </div>
  
    <!-- Sección 2 - Imagen Reversa -->
    <div class="flex flex-col items-center justify-center md:flex-row-reverse lg:gap-16 lg:p-12">
      <!-- Imagen -->
      <div class="md:w-1/2 lg:w-2/5 mb-8 md:mb-0">
        <img
          src="/images/cliente.jpg"
          alt="Gráfico de negocios"
          class="object-cover w-full rounded-lg shadow-xl aspect-square"
        />
      </div>
      <!-- Texto -->
      <div class="md:w-1/2 lg:w-3/5 text-center md:text-left">
        <h1 class="text-3xl md:text-5xl lg:text-6xl font-bold text-gray-800 mb-4 md:mb-6 leading-tight">
          Soluciones a Medida para Tu Empresa
        </h1>
        <p class="text-base md:text-lg lg:text-xl text-gray-600">
          Nuestro equipo se enfoca en brindar soluciones tecnológicas personalizadas que aceleran el crecimiento de tu empresa.
        </p>
      </div>
    </div>
  
    <!-- Sección 3 -->
    <div class="flex flex-col items-center justify-center md:flex-row lg:gap-16 lg:p-12">
      <!-- Imagen -->
      <div class="md:w-1/2 lg:w-2/5 mb-8 md:mb-0">
        <img
          src="/images/cliente.jpg"
          alt="Gráfico de negocios"
          class="object-cover w-full rounded-lg shadow-xl aspect-square"
        />
      </div>
      <!-- Texto -->
      <div class="md:w-1/2 lg:w-3/5 text-center md:text-left">
        <h1 class="text-3xl md:text-5xl lg:text-6xl font-bold text-gray-800 mb-4 md:mb-6 leading-tight">
          Impulsa tu Crecimiento Empresarial
        </h1>
        <p class="text-base md:text-lg lg:text-xl text-gray-600">
          Aumenta la eficiencia operativa y mejora tus resultados con nuestras tecnologías avanzadas.
        </p>
      </div>
    </div>
  </div>
  