<div class=" lg:space-y-1 flex flex-col justify-center mx-10 md:mx-40">
  <!-- Sección 1 -->
  <div class="flex flex-col items-center justify-center md:mx-60 py-10 md:flex-row lg:gap-9 lg:p-1">
    <!-- Imagen -->
    <div class=" md:w-1/2 lg:w-2/5 mb-8 md:mb-0">
      <img
        src="/images/cliente.jpg"
        alt="Gráfico de negocios"
        class="object-cover w-full rounded-lg shadow-xl aspect-square"
      />
    </div>
    <!-- Texto -->
    <div class="md:w-1/2 lg:w-3/5 text-center md:text-left ">
      <h1 class="text-3xl md:text-5xl lg:text-6xl font-bold text-gray-800 mb-4 md:mb-6 leading-tight">
        Incrementa Tu Base de Clientes
      </h1>
      <p class="text-sm md:text-lg lg:text-xl text-gray-600">
        Aprovecha nuestras soluciones innovadoras y estrategias personalizadas para atraer más clientes a tu negocio. Nos especializamos en desarrollar campañas de marketing digital efectivas, crear experiencias web optimizadas, y utilizar datos analíticos para mejorar el alcance de tu empresa. Con nuestra ayuda, no solo aumentarás tu visibilidad en el mercado, sino que también conseguirás clientes más fieles y comprometidos.
      </p>
    </div>
  </div>

  <!-- Sección 2 - Imagen Reversa -->
  <div class="flex flex-col items-center justify-center md:mx-60 py-10 md:flex-row-reverse lg:gap-9 lg:p-1">
    <!-- Imagen -->
    <div class="md:w-1/2 lg:w-2/5 mb-8 md:mb-0">
      <img
        src="/images/parnet.jpg"
        alt="Gráfico de negocios"
        class="object-cover w-full rounded-lg shadow-xl aspect-square"
      />
    </div>
    <!-- Texto -->
    <div class="md:w-1/2 lg:w-3/5 text-center md:text-right">
      <h1 class="text-3xl md:text-5xl lg:text-6xl font-bold text-gray-800 mb-4 md:mb-6 leading-tight">
        Soluciones a Medida para Tu Empresa
      </h1>
      <p class="text-sm md:text-lg lg:text-xl text-gray-600">
        Entendemos que cada empresa es única. Por eso, ofrecemos soluciones tecnológicas adaptadas a tus necesidades específicas. Desde la automatización de procesos hasta la optimización de tu infraestructura digital, nuestro equipo de expertos trabaja estrechamente contigo para identificar las oportunidades de mejora y maximizar la eficiencia operativa. Nos enfocamos en brindarte herramientas que no solo resuelvan problemas actuales, sino que impulsen el crecimiento futuro de tu negocio.
      </p>
    </div>
  </div>

  <!-- Sección 3 -->
  <div class="flex flex-col items-center justify-center py-1 md:mx-60 md:flex-row lg:gap-9 lg:p-1">
    <!-- Imagen -->
    <div class="md:w-1/2 lg:w-2/5 mb-8 md:mb-0">
      <img
        src="/images/time.jpg"
        alt="Gráfico de negocios"
        class="object-cover w-full rounded-lg shadow-xl aspect-square"
      />
    </div>
    <!-- Texto -->
    <div class="md:w-1/2 lg:w-3/5 text-center md:text-left">
      <h1 class="text-3xl md:text-5xl lg:text-6xl font-bold text-gray-800 mb-4 md:mb-6 leading-tight">
        Impulsa tu Crecimiento Empresarial
      </h1>
      <p class="text-sm md:text-lg lg:text-xl text-gray-600">
        Con nuestras soluciones tecnológicas avanzadas, podrás transformar la manera en que gestionas tu negocio. Desde el análisis de datos en tiempo real hasta la implementación de inteligencia artificial, te ayudamos a mejorar la toma de decisiones y a optimizar los recursos de tu empresa. Nuestras soluciones están diseñadas para ofrecer un crecimiento sostenible a largo plazo, permitiéndote adaptarte rápidamente a los cambios del mercado y seguir adelante con confianza.
      </p>
    </div>
  </div>
</div>
